[submodule "filter/filtercodes"]
	path = filter/filtercodes
	url = https://github.com/andrewrowatt-masseyuni/moodle-filter_filtercodes.git
[submodule "report/dashboard"]
	path = report/dashboard
	url = https://github.com/andrewrowatt-masseyuni/moodle-report_dashboard.git
[submodule "blocks/notices"]
	path = blocks/notices
	url = https://github.com/andrewrowatt-masseyuni/moodle-block_notices.git
[submodule "grade/grading/form/btec"]
	path = grade/grading/form/btec
	url = https://github.com/andrewrowatt-masseyuni/moodle-gradingform_btec.git
[submodule "mod/simplelabel"]
	path = mod/simplelabel
	url = https://github.com/andrewrowatt-masseyuni/moodle-mod_simplelabel.git
